/* styles/navbar.css */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem 0;
  background: linear-gradient(180deg, white); /* Degradado para Light Mode */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: padding 0.3s ease-in-out, background 0.3s ease-in-out;
}
  
body.dark-mode nav {
  background: linear-gradient(180deg, rgb(91, 49, 107), rgb(117, 62, 137), rgb(78, 41, 92)); /* Degradado para Dark Mode */
  transition: background 0.3s ease-in-out;
}
  
  @media (min-width: 768px) {
    body.dark-mode nav a {
      color: white;
      font-weight: 100 !important;
    }
  
    body.dark-mode nav .active {
      color: rgba(231, 170, 254, 1);
      font-weight: 800 !important;
    }
  }
  
  nav.scrolled {
    padding: 1rem 0;
    display: flex;
    align-items: self-start;
    justify-content: self-start;
    width: 100%;
    z-index: 9999;
  }
  
  nav .container .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .container .row .logo {
    font-size: 1rem;
  }
  
  nav .container .row .menu-bar {
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }
  
  nav .container .row .menu-bar li a {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 400;
  }
  
  .menu-toggle {
    display: none;
  }
  /* Responsive */
  @media screen and (max-width: 768px) {
    .menu-bar {
      visibility: hidden;
      flex-direction: column;
      position: absolute;
      top: 8rem;
      right: 0;
      width: 60%;
      background: white;
      box-shadow: var(--box-shadow);
      padding: 1rem 0;
      transition: all 0.3s ease-in-out;
      transform: translateX(100%);
      opacity: 0;
      z-index: 100;
      border-bottom-left-radius: 1rem;
    }
  
    nav .container .row .menu-bar {
      display: flex;
      align-items: start;
      padding-left: 4rem;
    }
  
    .menu-bar.show {
      display: flex;
      visibility: visible;
      transform: translateX(0);
      opacity: 1;
    }
  
    .menu-bar li {
      text-align: center;
      padding: 1rem 0;
    }
  
    .menu-toggle {
      display: block;
      background: none !important;
      border: none;
      font-size: 2.5rem;
      cursor: pointer;
      color: var(--purple-color);
    }
    body.dark-mode .menu-toggle {
      color: white;
      background-color: none  !important;
    }
    .menu-toggle:hover {
      color: black 
      !important;
    }
    body.dark-mode .menu-toggle:active {
      color: white !important;
    }
  }
  
  .dark-mode-toggle img {
    transition: transform 0.3s ease;
  }
  
  .dark-mode-toggle img:hover {
    transform: scale(1.1);
    background-color: none;
  }


  .home-icon {
    width: 1.5rem;
    height: 1.5rem;
  }
  